body {
    margin: 0;
    padding: 0;
    background-image: url();
    background-size: auto;
    
}

.caja_1 {
    border: none;
    color: #0b0101;    
    text-align: left;  
    padding: 1%;
    font-family: Roboto;
    font-size: 1em;
    background-color: rgb(224, 235, 249);
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
  }